@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@400;700&display=swap');

body {
   font-family: 'Raleway', sans-seri;
   width: 1358px;
   height: 1499px;
   margin: 0 auto;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 83px;
   padding-right: 93px;
   margin: 0 auto;
   width: 1360px;
   height: 81px;
   background-color: rgba(0, 0, 0, 0);

}

.logo {
   width: 145px;
   height: 31px;
   /* margin-left: 93px; */

}

nav ul {
   display: flex;
}

.home {
   padding-left: 47px;
}

li {
   padding-left: 48px;
   font-size: 15.742380142211914;
}

/* ...--section > */
.main-poto {
   position: relative;
}

.navagio {

   width: 1360px;
   height: 569px;
}

.discover {

   position: absolute;
   top: 226px;
   right: 348px;
   bottom: 308px;
   left: 414px;
   width: 588px;
   height: 60px;
   font-size: 70px;
   color: #ffffff;
}

.travel {
   position: absolute;
   top: 342px;
   right: 519px;
   bottom: 384px;
   left: 527px;
   width: 314px;
   height: 14px;
   font-size: 18px;
   color: #ffffff;
}

.text-section {
   width: 242px;
   height: 238px;
   /* display: flex; */
   /* justify-content: space-between; */
   margin-right: 41px;

}

.text-discover {
   width: 80ox;
   height: 13px;
   font-size: 15px;
}

.text-servises {
   width: 203px;
   height: 21px;
   font-size: 25px;
   font-weight: bold;
   margin-top: 13px;
   margin-bottom: 41px;
}

.text-lorem {
   width: 242px;
   height: 145px;
   display: flex;

}

.container {
   display: flex;
   width: 1257px;
   height: 731px;
   margin: 40px auto 93px;
   background-color: rgba(0, 0, 0, 0);

}

.wrapper {
   width: 974px;
   height: 731px;
   display: flex;
   flex-wrap: wrap;
   column-gap: 20px;

}

.card {
   width: 310px;
   height: 327px;

}

.img1 {
   display: flex;
   width: 310px;
   height: 197px;

}


.img1 {
   width: 310px;
   height: 197px;
}

.card-text {
   padding-top: 10px;
   width: 268px;
   height: 94px;
   font-size: 16px;
}

.header-h2 {
   /* width: 151px;
    height: 14px; */
   color: #1a1a1b;
   font-size: 17.998149871826172px;
   padding-top: 10px;
   padding-bottom: 12px;
}